@import "./assets/styles/clash-display.css";
@import "./assets/styles/satoshi-fonts.css";
:root{
    --black: #2A254B;
}
.container{
    max-width: 1280px;
    margin: auto;
  }
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body {
    font-family: 'Satoshi', sans-serif;
  }
  img {
    max-width: 100%;
  }